* {
	text-align: center;
}

.table_reward_gdg {
	.player__header {
		max-width: 90px;
	}

	.player__header,
	.zone__header {
		border: 1px solid black;
		font-weight: normal;
		padding: 0 1em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.zone__header {
		padding: 0px 1em;
	}

	.zone__reward {
		width: 80px;
		height: 40px;
		background-color: white;
	}

	.zone__reward.true {
		background-color: lightgreen;
	}

	.td__button {
		/* Ajustez la largeur de la colonne des boutons en fonction de votre besoin */
		width: 5em; /* Augmentez la largeur à 5em (ou la valeur de votre choix) */

		button {
			width: 100%;
			height: 100%;
			padding: 0;
		}
	}
}
